@import "tailwindcss";
@import "rc-slider/assets/index.css";

/* in your CSS or Tailwind config */
/* index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
